* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'BenchNine', sans-serif;
    color: white;
}

/* GENERAL OPTIONS IN ALL .HTML */

/* BODY */

body {    
    height: 100%;
    line-height: 1.5;
    font-size: 14px;
    background-color: rgb(23, 30, 39);
    background-image: linear-gradient(to top,rgba(23,30,39,0.8) 0%,rgba(23,30,39, 0.96) 100%),url('https://imageup.me/images/7dc39cea-c8d8-4cd9-9ae4-1ed1dc19e7a1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

/* HEADER */

header {
    display: block;
    width: 100%;
    height: 80px;
    background-color: rgb(23, 30, 39);
    box-shadow: 6px 0 4px 6px rgba(13, 17, 22, 0.9);
} 

.headerContainer {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

/* HEADER LOGO */

.logoContainer {
    width: 20%;
    height: 64px;
    text-align: center;
    position: relative;
}

.logoBar {
    position: absolute;
    height: 64px;
    border-radius: 50px;
}

.logoBar img {
    width: 64px;
}

.logoBar img:hover {
    background-color: rgb(19, 24, 32);
    scale: 1.1;
    border-radius: 50px;
}

/* HEADER NAV */

.responsiveNav {
    width: 65%;
    height: 100%;
    margin: 0 1rem;
}

nav {
    width: 100%;
    height: 100%;
}

.menuNav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menuNav li {
    display: inline-block;
    height: 100%;
    padding-block-start: 35px;
    margin: 0 2px;
}

.menuNav li a {
    text-decoration: none;
    font-size: 0.9em;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    padding: 35px 10px 20px 10px;
    color: #ffffff;
}

.menuNav li a:hover {
    background-color: rgba(19, 24, 32, 0.5);
    border-bottom: solid 3px rgb(0, 148, 238);
    transition: all 0.1s;
    color: rgb(0, 148, 238);
}

/* MAIN */

main {
    height: 1000px;
}

/* FOOTER */

footer {
    display: block;
    position: relative;
    height: 120px;
    background-color: rgb(23, 30, 39);
    box-shadow: 6px 0 4px 6px rgba(13, 17, 22, 0.9);
}

footer section {
    position: absolute;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    text-align: center;
}

.containProfiles {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.containProfiles li {
    margin-top: 10px;
    padding: 3px;
}

.containProfiles a img{
    border-radius: 10px;
    padding: 4px;
    background-color: #ffffff;
    border: solid 1px #c8c8c8;
}

.containProfiles a img:hover {
    background-color: #004c92;
    border: none;
    scale: 1.1;
}


/* INDEX.HTML */

.indexBox {
    display: grid;
    position: relative;
    margin: 5% auto;
    max-width: 1200px;
    height: 950px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1.5fr 3fr 1fr 1fr;
    row-gap: 10px;
    background-color: rgba(19, 24, 32, 0.9);
    border-radius: 5px;
}

.indexBox div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_title {
    grid-column-start: 1;
    grid-column-end: 3;
}

.index_title h1 {
    padding: 10px 0;
    color: #ffffff;
    min-width: 90%;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    border-bottom: solid 1px #ffffff;
}

.subtitle_size h2 {
    text-align: center;
    padding: 10px 0;
    position: absolute;
    width: 40%;
    max-width: 560px;
    font-size: 22px;
    font-weight: 400;
    border-bottom: solid 1px #ffffff;
}

.index_iframe {
    grid-column-start: 2;
}

.index_hiframe {
    width: 80%;
    height: 100%;
}

.index_hiframe iframe {
    width: 100%;
    max-width: 560px;
    height: 280px;
}

.index_subtitle_two {
    grid-row-start: 2;
}

.index_subtitle_two img {
    width: 300px;
}

.index_subtitle_three {
    grid-column-start: 2;
    grid-row-end: 5;
}

.index_button {
    grid-column-start: 2;
    grid-row-end: 6;
}

.index_button a {
    padding: 10px 30px;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(0, 148, 238);
    background-color: rgb(19, 24, 32); 
    border: solid 1px rgb(0, 148, 238);
}

.index_button a:active {
    background-color: rgb(0, 148, 238);
    color: #ffffff;
}

.index_image {
    grid-row-start: 3;
}


/* MIEMBROS.HTML */

.titleInicio {
    position: relative;
    width: 100%;
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    padding-top: 2em;
}

.sectionMiembros {
    background-color: #131820;
}

.boxMiembros {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 1440px;
    margin-top: 3rem;
    margin-inline: auto;
    padding-bottom: 100px;
    gap: 35px 20px;
}

.card {
    position: relative;
    width: 290px;
    height: 345px;
    border: inset 2px #0094ee;
    border-radius: 5px;
}

.card__image {
    position: absolute;
    top: 18px;
    right: 200px;
    width: 120px;
    background-color: #171e27;
    border-radius: 60px;
    border: inset 2px #0094ee;
}

.card__image:hover {
    scale: 1.1;
    transition: 0.2s;
}

.card__title {
    display: block;
    text-align: center;
    padding: 4px;
    top: 36px;
    left: 108px;
    width: 90px;
    font-size: 25px;
    color: #0094ee;
}

.card__subtitle {
    display: inline-block;
    padding: 4px 27px;
    left: 108px;
    top: 39px;
    font-size: 14px;
    color: #c8c8c8df;
}

.card__description {
    display: block;
    text-align: center;
    text-align: justify;
    padding: 0 8px;
    top: 73px;
    left: 14px;
    width: 90%;
    font-size: 15px;
    font-weight: 300;
}

.card__position {
    position: relative;
    background-color: #171e27;
    border-radius: 5px;
}


/* DISCOGRAFIAS.HTML */

.bodyDiscografias {
    background-image: none;
}

.gridDiscografias {
    margin: 5em 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    gap: 20px;
}

.containDiscografias {
    border-radius: 10px;
    min-width: 600px;
    height: 410px;
    justify-self: start;
    position: relative;
    background-color: #131820;
}

.column_end {
    justify-self: end;
}

.containDiscografias img {
    position: absolute;
    height: 264px;
    width: 220px;
    margin: 73px 0;
    border: inset 2px #0094ee;
}

.column_start img {
    left: 20px;
}

.column_end img {
    right: 50px;
}

.textContain {
    display: inline-block;
    top: 25px;
    width: 250px;
    left: 300px;
    position: relative;
}

.text_left {
    left: 20px;
}

.subtitleContain {
    font-size: 24px;
    text-transform: uppercase;
    color: #0094ee;
    text-align: center;
}

.textContain a {
    background-color: #171e27;
    color: #c8c8c8;
    border-radius: 5px 5px 0 0;
    border-bottom: solid 1px #0094ee;
    text-decoration: none;
    padding: 0.4rem;
    margin: 5px;
    display: block;
}


/* CONCIERTOS.HTML */

.boxConciertos {
    position: relative;
    width: 100%;
    background-color: rgb(19, 24, 32);
    padding-bottom: 2em;
}

.subtitleConciertos {
    width: 100%;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    color: rgb(186, 186, 186);
}

.containConciertos {
    margin: 2rem 5%;
    background-color: rgb(23, 30, 39);
    position: relative;
    border-radius: 5px;
    padding: 1rem 0;
}

.containConciertos hr {
    border-color: #0094ee;
    margin-inline: 32px;
}

.titleContain {
    font-weight: 700;
    color: rgb(0, 148, 238);
    font-size: 24px;
    text-transform: uppercase;
    margin: 16px 32px 0 32px;
}

.divConciertos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-inline: 30px;
}

.divConciertos p {
    font-family: 'Inter', 'sans-serif';
    line-height: 1.2;
    margin-left: 0.5rem;
    width: 200px;
    font-weight: 400;
    font-size: 16px;
    padding: 15px 0;
}

.divLinks {
    width: 350px;
    margin-inline: 7.1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.divLinks a {
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border: solid 1px rgb(0, 148, 238);
    background-color: rgb(19, 24, 32);
    color: rgb(0, 148, 238);
    border-radius: 5px;
    padding: 10px 0;
    width: 150px;
    text-align: center;
}

.divLinks a:hover {
    opacity: 0.9;
    transition: 0.1s;
}

.divLinks a:active {
    background-color: rgb(0, 148, 238);
    color: #ffffff;
}


/* CONTACTO.HTML */

form {
    margin: 5em 5%;
    background-color: rgb(19, 24, 32);
    padding: 1.5rem;
    border-radius: 5px;
}

fieldset {
    width: 100%;
    border: none;
}

legend {
    padding: 5px;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
}

.boxContacto hr {
    margin-inline: 40px;
    border-color: rgba(200, 200, 200, 0.6);
}

.formulario {
    display: block;
    position: relative;
    height: 800px;
    width: 100%;
}

.formulario li {
    list-style-type: none;
    margin: 4rem 2.5rem;
}

.formulario li label{
    font-weight: 400;
    font-size: 20px;
}

.formulario input, textarea {
    display: block;
    width: 18.75rem;
    margin-top: 0.5rem;
    color: #ffffff;
    background-color: rgb(19, 24, 32);
    border: solid 1px rgba(200, 200, 200, 0.6);
    resize: none;
    overflow: auto;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    height: 40px;
    border-radius: 5px;
    padding: 8px;
}

.formulario span {
    margin-left: 10px;
    color: #aa1414;
    font-size: 13px;
    text-transform: uppercase;
}

#msg {
    height: 300px;
    width: 100%;
}

.btn_send {
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.8rem 1.6rem;
    border: solid 1px rgb(19, 24, 32);
    background-color: rgb(0, 76, 146);
    color: #ffffff;
    border-radius: 5px;
}

.btn_send:active {
    background-color: rgb(0, 148, 238);   
}

@media (max-width: 480px) {

    .menuNav li a {
        font-size: 8px;
        padding-inline: 7px;
    }

    .titleContain {
        padding: 10px;
        text-align: center;
    }

    .divConciertos {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    
    .containConciertos hr {
        margin-inline: 20px;
    }

    .card__image {
        width: 100px;
    }

    .formulario li {
        margin-inline: 0;
        text-align: center;
    }

    .formulario input, textarea {
        margin-inline: auto;
    }

}

@media (max-width: 768px) {

    header {
        height: 160px;
    }

    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .logoContainer {
        width: 64px;
        position: relative;
        text-align: start;
        height: 80px;
        top: 20px;
    }

    .logoContainer img {
        position: absolute;
    }

    .responsiveNav {
        height: 80px;
    }

    .menuNav {
        justify-content: center;
    }

    .divConciertos {
        margin: 10px 0;
    }

    .divLinks {
        flex-direction: column-reverse;
        width: 150px;
        gap: 10px;
    }

    .formulario input, textarea {
        width: 90%;
        max-width: 300px;
        font-size: 10px;
    }

    #msg {
        max-width: none;
    }
}

@media (min-height: 1220px) {

    main:not(.mainDiscografias) {
        height: 1250px;
    }

}