@import "./normalice/reset";

@import "./utilities/colors";
@import "./utilities/typhography";
@import "./utilities/fonts";

@import "./layout/navbar";
@import "./layout/footer";
@import "./layout/grid";

@import "./components/title";
@import "./components/cards";
@import "./components/btn";
@import "./components/formulary";

@import "./pages/home";

@import "./views/m-queries";




