@import "../utilities/colors";
@import "../utilities/typhography";

/* home css */
/* BODY */
body {
	color: #ffffff;
	height: 100%;
	line-height: 1.5;
	font-size: 0.875rem;
	background-color: $blue-dark;
	background-image: linear-gradient(to top,rgba(23,30,39,0.8) 0%,rgba(23,30,39, 0.96) 100%),url('https://imageup.me/images/7dc39cea-c8d8-4cd9-9ae4-1ed1dc19e7a1.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
/* MAIN */
main {
	display: block;
}
/* INDEX.HTML */
.indexBox {
	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
/* MIEMBROS.HTML */
.sectionMiembros {
	background-color: $blue-grayish-dark;
	padding-bottom: 150px;
}
.boxMiembros {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1440px;
	margin-top: 3rem;
	margin-inline: auto;
	gap: 35px 20px;
}
/* DISCOGRAFIAS.HTML */
.bodyDiscografias {
	background-image: none;
}
.div_discography {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 20px;
	margin: 4rem 1rem;
}
/* CONCIERTOS.HTML */
.boxConciertos {
	position: relative;
	width: 100%;
	background-color: $blue-grayish-dark;
	padding-bottom: 2em;
}
.containConciertos {
	margin: 2rem 5%;
	background-color: $blue-dark;
	position: relative;
	border-radius: 5px;
	padding: 1rem 0;
	hr {
		border: solid 1px #0094ee;
		margin: 0 32px;
		opacity: inherit;
	}
}
.divConciertos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-inline: 30px;
	p {
		font-family: $font_inter;
		line-height: 1.2;
		margin: 0 0 0 0.5rem;
		width: 200px;
		font-weight: 400;
		font-size: 1rem;
		padding: 15px 0;
	}
}
.divLinks {
	width: 350px;
	margin-inline: 7.1px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	a {
		text-decoration: none;
		font-size: 1.125rem;
		text-transform: uppercase;
		font-weight: 700;
		border: solid 1px rgb(0, 148, 238);
		background-color: $blue-grayish-dark;
		color: $cyan;
		border-radius: 5px;
		padding: 10px 0;
		width: 150px;
		text-align: center;
		&:hover {
			opacity: 0.9;
			transition: 0.1s;
		}
		&:active {
			background-color: $cyan;
			color: $white;
		}
	}
}
/* CONTACTO.HTML */
.boxContacto {
	hr {
		margin-inline: 40px;
		border-color: $grey;
	}
}
