/* colors css */
$blue-grayish-dark: #131820;
$blue-grayish-dark_05: #13182080;
$blue-grayish-dark_09: rgba(19, 24, 32, 0.902);
$blue-dark: #171e27;
$white: #ffffff;
$grey: #c8c8c8df;
$cyan: #0094ee;
$blue-navy: #004c92;
$red-dark: #aa1414;