/* fonts size css - map-get */
$f-sizes: (
    twelve_px: 0.79rem,
    fourteen_px: 0.875rem,
    fifteen_px: 0.960rem,
    sixteen_px: 1rem,
    eighteen_px: 1.125rem,
    twenty_px: 1.25rem,
    twenty-two_px: 1.375rem,
    twenty-four_px: 1.5rem,
    thirty-six_px: 2.25rem,
)
