@import "../utilities/colors";

/* grid css */
.indexBox {
	display: grid;
	position: relative;
	margin: 5% auto;
	max-width: 1200px;
	height: 950px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1.5fr 3fr 1fr 1fr;
	row-gap: 10px;
	background-color: $blue-grayish-dark_09;
	border-radius: 5px;
	z-index: -1;
}
.index_title {
	grid-column-start: 1;
	grid-column-end: 3;
	h1 {
		padding: 10px 0;
		color: $white;
		min-width: 90%;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.25rem;
		border-bottom: solid 1px #ffffff;
	}
}
.subtitle_size {
	h2 {
		text-align: center;
		padding: 10px 0;
		position: absolute;
		width: 40%;
		max-width: 560px;
		font-size: 1.375rem;
		font-weight: 400;
		border-bottom: solid 1px #ffffff;
	}
}
.index_iframe {
	grid-column-start: 2;
}
.index_hiframe {
	width: 80%;
	height: 100%;
	iframe {
		width: 100%;
		max-width: 560px;
		height: 280px;
	}
}
.index_subtitle_two {
	grid-row-start: 2;
	img {
		width: 300px;
	}
}
.index_subtitle_three {
	grid-column-start: 2;
	grid-row-end: 5;
}
.index_button {
	grid-column-start: 2;
	grid-row-end: 6;
	a {
		padding: 10px 30px;
		margin-bottom: 15px;
		text-decoration: none;
		font-size: 1.125rem;
		font-weight: 700;
		text-transform: uppercase;
		color: $cyan;
		background-color: $blue-grayish-dark;
		border: solid 1px rgb(0, 148, 238);
		&:active {
			background-color: $cyan;
			color: $white;
		}
	}
}
.index_image {
	grid-row-start: 3;
}
