@import "../utilities/colors";

/* grid css */
.indexBox {
	display: grid;
	justify-items: center;
	align-items: center;
	position: relative;
	margin: 5rem auto 0 auto;
	max-width: 1200px;
	height: 950px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1.5fr 3fr 1fr 1fr;
	grid-gap: 10px;
	background-color: $blue-grayish-dark_05;
	border-radius: 5px;
}
.index_title {
	grid-column-start: 1;
	grid-column-end: 3;
	width: 90%;
	h1 {
		padding: 10px 0;
		color: $white;
		min-width: 90%;
		text-align: center;
		text-transform: uppercase;
		font-size: map-get($f-sizes, thirty-six_px);
		border-bottom: solid 1px #ffffff;
	}
}
.subtitle_size {
	h2 {
		text-align: center;
		padding: 10px 0;
		width: 90%;
		font-size: map-get($f-sizes, twenty-two_px);
		font-weight: 400;
		border-bottom: solid 1px #ffffff;
	}
}
.index_iframe {
	width: 100%;
	height: 100%;
	padding: 30px;
	div {
		right: 5%;
		position: relative;
		overflow: hidden;
		padding-top: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.index_subtitle_two {
	width: 80%;
	grid-row-start: 2;
	h2 {
		width: 100%;
	}
}
.index_subtitle_three {
	grid-column-start: 2;
	grid-row-end: 5;
}
.index_button {
	grid-column-start: 2;
	grid-row-end: 6;
	a {
		position: relative;
		right: 25px;
		padding: 10px 30px;
		text-decoration: none;
		font-size: map-get($f-sizes, eighteen_px);
		font-weight: 700;
		text-transform: uppercase;
		color: $cyan;
		background-color: $blue-grayish-dark;
		border: solid 1px rgb(0, 148, 238);
		&:active {
			background-color: $cyan;
			color: $white;
		}
	}
}
.index_image {
	grid-row-start: 3;
}