@import "../utilities/colors";
@import "../utilities/fonts";
@import "../utilities/typhography";
@import "../utilities/mixin";

/* cards css members */
.card_members {
	position: relative;
	width: 290px;
	height: 345px;
	border: inset 2px $cyan;
	border-radius: 5px;
}
.card__image {
	position: absolute;
	top: 18px;
	right: 200px;
	width: 120px;
	background-color: $blue-dark;
	border-radius: 60px;
	border: inset 2px $cyan;
	&:hover {
		scale: 1.1;
		transition: 0.2s;
	}
}
.card__title {
	display: block;
	text-align: center;
	padding: 4px;
	top: 36px;
	left: 108px;
	width: 50%;
	font-size: map-get($f-sizes, twenty-four_px);
	color: $cyan;
}
.card__subtitle {
	display: inline-block;
	padding: 4px 27px;
	left: 108px;
	top: 39px;
	font-size: map-get($f-sizes, fourteen_px);
	color: $grey;
}
.card__description {
	display: block;
	text-align: center;
	text-align: justify;
	padding: 0 8px;
	top: 57px;
	left: 14px;
	width: 90%;
	font-size: map-get($f-sizes, fifteen_px);
	font-weight: 300;
}
.card__position {
	position: relative;
	background-color: $blue-dark;
	border-radius: 5px;
}

/* cards css discography */
.card_discography {
	border-radius: 10px;
	background-color: $blue-grayish-dark_05;
	position: relative;
	width: 37.5rem;
	list-style-type: none;
	>a{
		position: absolute;
		width: 32px;
		top: 25px;
		left: 20px;
		>img{
			animation-name: rotate_s;
			animation-duration: 1.8s;
			animation-iteration-count: infinite;
			animation-delay: 0.3s;
		}
	}
}
.subtitle_d-card {
	text-align: center;
	text-transform: uppercase;
	color: $blue-navy;
	font-size: map-get($f-sizes, twenty-four_px);
	margin-top: 1.5rem;
}
.div_d-card {
	@include flex;
	align-items: start;
	margin-bottom: 20px;
	img {
		width: 13.75rem;
		height: 16.5rem;
		margin: 30px 0 30px 30px;
		border: inset 2px $grey;
	}
	span{
		display: block;
		text-align: center;
		line-height: 1.8;
		font-size: map-get($f-sizes, eighteen_px);
		margin-left: 30px;
		&:nth-child(1){
			font-size: map-get($f-sizes, twenty_px);
			text-transform: uppercase;
			font-weight: 700;
			color: $cyan;
		}
	}
}
.contain_d-card {
	margin-right: 20px;
	width: 100%;
	@include flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	a {
		font-size: map-get($f-sizes, sixteen_px);
		width: 75%;
		background-color: $blue-dark;
		color: $white;
		border-radius: 5px 5px 0 0;
		border-bottom: solid 1px $blue-navy;
		text-decoration: none;
		padding: 0.4rem;
		margin: 5px;
		&:hover{
			opacity: 0.9;
		}
		&:active{
			background-color: $cyan;
		}
	}
}
