@import "../utilities/colors";
@import "../utilities/typhography";
@import "../utilities/fonts";

/* contact css */
form {
	margin: 0 5%;
	background-color: $blue-grayish-dark_05;
	padding: 1.5rem;
	border-radius: 5px;
}
fieldset {
	width: 100%;
	border: none;
}
legend {
	padding: 5px;
	font-weight: 700;
	font-size: map-get($f-sizes, thirty-six_px);
	text-transform: uppercase;
	text-align: center;
}
.formulario {
	padding: 0;
	display: block;
	position: relative;
	height: 800px;
	width: 100%;
	li {
		list-style-type: none;
		margin: 4rem 2.5rem;
		label {
			font-weight: 400;
			font-size: 1.25rem;
		}
	}
	input {
		display: block;
		width: 18.75rem;
		margin-top: 0.5rem;
		color: $white;
		background-color: $blue-grayish-dark;
		border: solid 1px rgba(200, 200, 200, 0.6);
		resize: none;
		overflow: auto;
		font-family: $font_inter;
		font-size: 0.790rem;
		height: 40px;
		border-radius: 5px;
		padding: 8px;
	}
	span {
		margin-left: 10px;
		color: $red-dark;
		font-size: 0.790rem;
		text-transform: uppercase;
	}
}
textarea {
	display: block;
	width: 18.75rem;
	margin-top: 0.5rem;
	color: $white;
	background-color: $blue-grayish-dark;
	border: solid 1px rgba(200, 200, 200, 0.6);
	resize: none;
	overflow: auto;
	font-family: $font_inter;
	font-size: 0.790rem;
	height: 40px;
	border-radius: 5px;
	padding: 8px;
}
#msg {
	height: 300px;
	width: 100%;
}
