@import "../utilities/colors";
@import "../utilities/fonts";

/* titles css */
h1 {
	line-height: 1.5;
}
h2 {
	line-height: 1.5;
}
h3 {
	line-height: 1.5;
}
.titleInicio {
	position: relative;
	width: 100%;
	font-weight: 700;
	text-align: center;
	font-size: map-get($f-sizes, thirty-six_px);
	text-transform: uppercase;
	padding-top: 2em;
}
.subtitleConciertos {
	width: 100%;
	font-weight: 400;
	text-align: center;
	font-size: map-get($f-sizes, twenty-four_px);
	text-transform: uppercase;
	color: $white;
}
.titleContain {
	font-weight: 700;
	color: $cyan;
	font-size: map-get($f-sizes, twenty-four_px);
	text-transform: uppercase;
	margin: 16px 32px 0 32px;
}
