@import "../utilities/mixin";
@import "../utilities/fonts";

/* media queries css */
@media (max-width: 480px) {
	.index_div-img {
		p {
			font-size: map-get($f-sizes, twenty_px);
		}
	}
	.titleContain {
		padding: 10px;
		text-align: center;
	}
	.divConciertos {
		text-align: center;
		@include flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	.containConciertos {
		hr {
			margin-inline: 20px;
		}
	}
	.card__image {
		width: 100px;
	}
	.formulario {
		li {
			margin-inline: 0;
			text-align: center;
		}
		input {
			margin-inline: auto;
		}
	}
	textarea {
		margin-inline: auto;
	}
}
@media (max-width: 640px) {
	.subtitle_d-card {
		text-align: center;
		padding: 0;
	}
	.div_d-card {
		flex-direction: column;
		img {
			width: 12.375rem;
			height: 14.875rem;
		}
	}
	.contain_d-card {
		margin: auto;
		a {
			width: 80%;
		}
	}
}
@media (max-width: 767px) {
	header{
		&::before{
			right: 0;
		}
	}
	.navbar-toggler {
		height: 50px;
	}
	.nav-logo {
		width: 50px;
	}
	.menuNav {
		margin-top: 15px;
		border-top: solid 1px #ffffff36;
		height: 400px;
		text-align: start;
		align-items: flex-end;
		flex-direction: column;
		padding: 0 0 1rem 0;
		li {
			display: block;
			height: 100%;
			width: 90%;
			margin: auto;
			position: relative;
			padding: 20px 0;
			border-bottom: solid 1px #0094ee;
			a {
				left: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				position: absolute;
			}
		}
	}
	.index_div-img {
		span {
			position: absolute;
			width: 100%;
			left: 0;
		}
		p {
			top: 80px;
			left: 0;
			width: 100%;
			padding-inline: 2rem;
			text-align: justify;
		}
	}
	.index_iframe{
		div{
			right: 0;
			iframe{
				padding: 0 15px 15px 15px;
			}
		}
	}
	.container div {
		background-color: $blue-dark;
		margin-top: 12px;
	}
	.divConciertos {
		margin: 10px 0;
	}
	.divLinks {
		width: 150px;
		flex-direction: column-reverse;
		gap: 10px;
	}
	.indexBox {
		height: 1500px;
		grid-template-columns: 100%;
		grid-template-rows: repeat(7, 125px 125px 400px 125px 125px 125px 400px);
	}
	.subtitle_size {
		h2 {
			margin: auto;
			width: 80%;
		}
	}
	.index_button{
		a{
			position: initial;
		}
	}
	.column_responsive {
		grid-column: 1/2;
	}
	.index_image {
		a {
			img {
				width: 250px;
			}
		}
	}
	.formulario {
		input {
			width: 90%;
			max-width: 300px;
		}
	}
	textarea {
		width: 90%;
		max-width: 300px;
	}
	#msg {
		max-width: none;
	}
}
@media (min-width: 1440px){
	.index_div-img{
		span {
			left: 17%;
		}
		p {
			left: 17%;
		}
	}
}
@media (min-height: 1220px) {
	main {
		&:not(.mainDiscografias) {
			height: 1250px;
		}
	}
}